@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Playfair+Display+SC&display=swap');

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* || VARIABLES || */
:root {
    /* FONTS */
    --BODY-FONT-FAMILY: 'Mukta', sans-serif;
    --BODY-FONT: 20px var(--BODY-FONT-FAMILY);
    --FONT-SIZE: 2.8vw;
    --HEADER-FONT-FAMILY: 'Playfair Display SC', serif;
    --INPUT-FONT-SIZE: 16px;

    /* COLORS */
    --BODY-COLOR: #407899;
    --CHART-BG-COLOR: white;
    --FORM-BG-COLOR: gray;
    --HEADER-COLOR: #2CC437;
    --HEADER-FONT-COLOR: black;
    --HOVER-COLOR: #3c3939;

    /* BORDERS */
    --BORDER-COLOR: black;
    --BORDER-SIZE: 3px;
    --BORDER-STYLE: solid;
    --BUTTON-BORDER: 1px var(--BORDER-STYLE) var(--BORDER-COLOR);
    --BUTTON-COLOR: #96ACB7;
    --FORM-BORDER-RADIUS: 15px;
    --FORM-BORDER: 5px var(--BORDER-STYLE) var(--BORDER-COLOR);
    --INPUT-BORDER: 1px var(--BORDER-STYLE) var(--BORDER-COLOR);

    /* SIZE */
    --BUTTON-MARGIN: 0.7em;
    --BUTTON-PADDING: 0.4em;
    --CANVAS-MAX-HEIGHT: 300px;
    --CANVAS-MAX-WIDTH: 400px;
    --FORM-MAX-SIZE: 80%;
    --FORM-WIDTH-SIZE: 50%;
    --HEADER-ICON-GAP: 0.4em;
    --HEADER-ICON-MARGIN: -0.7em;
    --HEADER-LETTER-SPACING: 0.03em;
    --HEADER-LINE-HEIGHT: 100%;
    --HEADER-LINK-GAP: 1.2rem;
    --HEADER-PADDING: 1.0em;
    --HEADER-RIGHTSIDE-GAP: 2.2em;
    --HEADER-SIDE-PADDING: 14px;
    --HEADER-TEXT-FONT-SIZE-CAP: 15px;
    --HEADER-WIDTH: 100%;
    --HEIGHT-SPACING: 0.3em;
    --LARGE-HEIGHT-SPACING: 0.8em;
    --MARGIN-AUTO-LEFT-AND-RIGHT: 0 auto 0 auto;
    --MARGIN-AUTO-TOP-AND-BOTTOM: auto 0 auto 0;
    --OFFSCREEN-MOVE: -10000px;
    --PLACEHOLDER-TEXT-MOVE: 4px;
}

/* Block */
html {
    scroll-behavior: smooth;
}

body {
    background: var(--BODY-COLOR);
}

/* || HEADER */
.header {
    background-color: var(--HEADER-COLOR);
    border: var(--BORDER-SIZE) var(--BORDER-STYLE) var(--BORDER-COLOR);
    flex-wrap: wrap;
    font-family: var(--HEADER-FONT-FAMILY);
    font-size: max(var(--HEADER-TEXT-FONT-SIZE-CAP), var(--FONT-SIZE));
    font-weight: bolder;
    letter-spacing: var(--HEADER-LETTER-SPACING);
    padding: var(--HEADER-PADDING);
    position: sticky;
    width: var(--HEADER-WIDTH);
}

.header__icon {
    display: none;
    gap: var(--HEADER-ICON-GAP);
    margin: var(--HEADER-ICON-MARGIN);
}

.header__left-side {
    float: left;
    padding: var(--HEADER-SIDE-PADDING);
    line-height: var(--HEADER-LINE-HEIGHT);
}

.header__right-side {
    gap: var(--HEADER-RIGHTSIDE-GAP);
    padding: var(--HEADER-SIDE-PADDING);
    line-height: var(--HEADER-LINE-HEIGHT);
    align-self: flex-end;
}

.header__link {
    gap: var(--HEADER-LINK-GAP);
    color: var(--HEADER-FONT-COLOR);
}

.header__ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* LINKS */
.header__link:any-link,
.header__link:visited {
    text-decoration: none;
    display: inline;
}

.header__link:hover {
    color: var(--HOVER-COLOR);
}

/* BODY */
main {
    font: var(--BODY-FONT);
}

/* FORM */
.calculateForm {
    border-radius: var(--FORM-BORDER-RADIUS);
    border: var(--FORM-BORDER);
    display: flex;
    flex-direction: column;
    margin: var(--MARGIN-AUTO-LEFT-AND-RIGHT);
    width: var(--FORM-MAX-SIZE);
    word-wrap: nowrap;
}

.calculateForm__button {
    background-color: var(--BUTTON-COLOR);
    border: var(--BUTTON-BORDER);
    margin-bottom: var(--BUTTON-MARGIN);
    margin-top: var(--BUTTON-MARGIN);
    padding-left: var(--BUTTON-PADDING);
    padding-right: var(--BUTTON-PADDING);
}

.canvas__donutChart {
    background-color: var(--CHART-BG-COLOR);
    border: var(--INPUT-BORDER);
    display: none;
    height: var(--CANVAS-MAX-HEIGHT);
    margin: var(--MARGIN-AUTO-LEFT-AND-RIGHT);
    width: var(--CANVAS-MAX-WIDTH);
}

.form__bg {
    background-color: var(--FORM-BG-COLOR);
}

.form__input {
    border: var(--INPUT-BORDER);
}

.form__input::placeholder {
    font: var(--INPUT-FONT-SIZE) var(--BODY-FONT-FAMILY);
    padding-bottom: var(--PLACEHOLDER-TEXT-MOVE);
}

/* || UTILITY */
.offscreen {
    position: absolute;
    left: var(--OFFSCREEN-MOVE);
}

.textCenter {
    text-align: center;
}

.center {
    margin: auto;
    width: var(--FORM-WIDTH-SIZE);
}

.center__photo {
    margin: var(--MARGIN-AUTO-LEFT-AND-RIGHT);
    display: block;
}

.spacing {
    margin-bottom: var(--HEIGHT-SPACING);
    margin-top: var(--HEIGHT-SPACING);
}

.large__spacing {
    margin-bottom: var(--LARGE-HEIGHT-SPACING);
    margin-top: var(--LARGE-HEIGHT-SPACING);
}

.removeHover:focus {
    outline: none;
}

.hide {
    display: none;
}

/* Media Query for small phone */
/* Outside of min width */
@media screen and (min-width: 670px) {
    .calculateForm {
        --FORM-MAX-SIZE: 50%;
    }

    .canvas__donutChart {
        --CANVAS-MAX-WIDTH: 650px;
        --CANVAS-MAX-HEIGHT: 500px;
    }

    .header__icon {
        display: block;
    }
}