@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Playfair+Display+SC&display=swap');

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* || VARIABLES || */
:root {
    /* FONTS */
    --HEADER-FONT-FAMILY: 'Playfair Display SC', serif;
    --BODY-FONT-FAMILY: 'Mukta', sans-serif;
    --FONT-SIZE: 1.8rem;

    /* COLORS */
    --HEADER-COLOR: #2CC437;
    --HEADER-FONT-COLOR: black;
    --HOVER-COLOR: #3c3939;
    --BODY-COLOR: #407899;

    /* BORDERS */
    --BORDER-SIZE: 3px;
    --BORDER-STYLE: solid;
    --BORDER-COLOR: black;
    --FORM-BORDER: 5px var(--BORDER-STYLE) var(--BORDER-COLOR);
}

/* Block */
html {
    scroll-behavior: smooth;
}

body {
    background: var(--BODY-COLOR);
}
/* || HEADER */
.header {
    align-items: center;
    background-color: var(--HEADER-COLOR);
    border: var(--BORDER-SIZE) var(--BORDER-STYLE) var(--BORDER-COLOR);
    display: flex;
    font-family: var(--HEADER-FONT-FAMILY);
    font-size: var(--FONT-SIZE); /* Fix Collison with words at 980 width */
    font-weight: bolder;
    justify-content: space-between;
    letter-spacing: 0.03em;
    padding: 1.0em;
    position: sticky;
    width: 100%; 
}

.header__icon {
    margin: -0.7em;
    gap: 0.4em;
}

.header__left-side {
    display: flex;
    align-items: center;
}

.header__right-side {
    display: flex;
    gap: 2.2em;
    justify-content: flex-end;
}

.header__link {
    gap: 1.5rem;
    color: var(--HEADER-FONT-COLOR);
}

.header__ul {
    list-style-type: none;
}
/* LINKS */
.header__link:any-link, .header__link:visited {
    text-decoration: none;
}

.header__link:hover {
    color: var(--HOVER-COLOR);
}

/* BODY */
main {
    font-family: var(--BODY-FONT-FAMILY);
}

/* FORM */
.calculateForm {
    margin-left: auto;
    margin-right: auto;
    width: 38%;
    border: var(--FORM-BORDER);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.3em;
}

.calculateForm__button {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* || UTILITY */
.offscreen {
    position: absolute;
    left: -10000px;
}

.center {
    margin: auto;
    width: 50%;
    white-space: nowrap;
}